<h1>Lista de productos</h1>

<div>
    <ul>
        {{#each products}}
        <li>
            <ul>
                <li>title: {{this.title}}</li>
                <li>description: {{this.description}}</li>
                <li>code: {{this.code}}</li>
                <li>price: ${{this.price}}</li>
                <li>status: {{this.status}}</li>
                <li>stock: {{this.stock}}</li>
                <li>category: {{this.category}}</li>
                <li>id: {{this.id}}</li>
            </ul>
        </li>
        {{/each}}
    </ul>
</div>